[Desktop Entry]
Name=Notmuch Mail
Exec=e -cs mail --eval '(browse-url "%u")'
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/mailto
