/*
 * Sites that don't specify color details for text inputs seem to
 * break under my GTK theme, so I need to set some defaults here.
 */
/*
html body input, html body textarea {
  background-color: #fff ! important;
  color: #444 ! important;
}

html input[type="submit"], html input[type="button"] {
  background-color: inherit ! important;
  color: #eee ! important;
}
*/

/* Make Remember the Milk a bit easier to use */
/* https://developer.mozilla.org/en-US/docs/CSS/@document */
/*
@-moz-document domain(rememberthemilk.com) {
  #appheader a[href="/"] {display: none ! important}
  #topnav {float: none ! important; position: relative;}
  #searchbox {float: none ! important; position: relative;}
  #listbox {float: none ! important}
  #detailsbox {float: none ! important; margin-top: 20px ! important}
  .appfooter {display: none ! important}
}
*/
